/* ==========================================================================
   Foundation
   ========================================================================== */

/* Reset
   ----------------------------------------------------------------- */

   html, body, h2, p, img, ul, li, button, input, textarea {
      margin: 0;
      padding: 0;
   }

   a {
      text-decoration: none;
      color: inherit;
   }

   li {
      list-style-type: none;
   }

/* Base
   ----------------------------------------------------------------- */

   html, body {
      height: 100%;
   }

   body {
      font-family: "Lato", "Noto Sans JP";
      font-size: 16px;
      color: #333;
      background-color: #fff;
   }

   h2 {
      color: #d7003a;
      font-size: 32px;
      line-height: 40px;
      text-align: center;
   }

   button {
      font-family: "Lato", "Noto Sans JP";
      border: 0;
      cursor: pointer;
   }

   .flex-wrap-for-IE {
      display: flex;
   }

   /* IE10 & IE11 
   _:-ms-input-placeholder, :root 要素 {}
   */

/* ==========================================================================
   Layout
   ========================================================================== */

/* Header
   ----------------------------------------------------------------- */

   .header {
      position: relative;
      height: 100px;
      width: 100%;
      top: 0;
      background-color: #fff;
   }

/* Footer
   ----------------------------------------------------------------- */

   .footer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      background-color: #333;
      height: 80px;
      width: 100%;
   }

/* Video
   ----------------------------------------------------------------- */

   .video {
      position: fixed;
      z-index: 3;
      top: 0;
      width: 100%;
      height: 100vh;
      transition: opacity .3s, visibility .3s;
   }

   .video[aria-hidden="true"] {
      visibility: hidden;
      opacity: 0;
   }


/* SlideShow
   ----------------------------------------------------------------- */

/* About
   ----------------------------------------------------------------- */

   .about {
      padding: 128px 0 96px;
   }

/* News
   ----------------------------------------------------------------- */

   .news {
      background-color: #f3f3f5;
      padding: 96px 0;
   }

/* Faq
   ----------------------------------------------------------------- */

   .faq {
      background-color: #fff;
      padding: 96px 0;
   }

/* Contact
   ----------------------------------------------------------------- */

   .contact {
      background-color: #f3f3f5;
      padding: 96px 0;
   }

/* ==========================================================================
   Object
   ========================================================================== */

/* Component
   ----------------------------------------------------------------- */

/* Project
   ----------------------------------------------------------------- */

   /**
   * Header
   */

   .p-header__wrap {
      display: flex;
      font-family: "Noto Sans";
      font-weight: bold;
      height: 100px;
      width: 1000px;
      max-width: 90%;
      margin: 0 auto;
      overflow: hidden;
   }

   .p-header__logo {
      display: inline-block;
      margin-right: 64px;
   }

   .p-header__img {
      height: 53px;
   }

   .p-nav {
      height: 100%;
      display: flex;
      align-items: center;
      color: #d7003a;
   }

   .p-nav__ul {
      display: flex;
   }

   .p-nav__li {
      margin-right: 48px;
   }

   .p-nav__li:last-child {
      margin-right: 0;
   }

   .p-nav__a:hover {
      text-decoration: underline;
   }

   @media screen and (max-width: 1024px) {
      .p-header__logo {
         margin-right: 0;
      }

      .p-nav {
         display: none;
      }
   }
   
   /**
   * Header---Drawer
   */

   .p-drawer {
      position: absolute;
      z-index: 1;
      top: 100px;
      left: 0;
      height: 100px;
      width: 100%;
      background-color: #d7003a;
      visibility: hidden;
      opacity: 0;
      transition: all .3s;
   }

   .p-drawer[aria-hidden="false"] {
      visibility: visible;
      opacity: 1;
   }

   .p-drawer__inner {
      height: 100%;
      width: 1000px;
      margin: 0 auto;
      display: flex;
      align-items: center;
   }

   .p-drawer__ul {
      display: flex;
      margin-left: 16px;
   }

   .p-drawer__ul > li {
      margin-right: 56px;
   }

   .p-drawer__ul > li:last-child {
      margin-right: 0;
   }

   .p-drawer__a {
      color: #fff;
   }

   .p-drawer__a:hover {
      text-decoration: underline;
   }
   
   /**
   * Header---Hamburger
   */

   .p-hamburger__btn {
      margin: auto 0 auto auto;
      height: 17px;
      width: 30px;
      cursor: pointer;
      z-index: 2;
   }

   .p-hamburger__btn[aria-expanded="true"] > span:first-of-type {
      background-color: #fff;
      transform: translateY(7px) rotate(45deg);
   }

   .p-hamburger__btn[aria-expanded="true"] > span:last-of-type {
      background-color: #fff;
      transform: translateY(-7px) rotate(-45deg);
   }

   .p-hamburger__btn > span {
      display: block;
      height: 3px;
      width: 100%;
      background-color: #d7003a;
      margin-bottom: 4px;
      transition: all .3s;
   }

   .p-hamburger__wrap {
      position: absolute;
      display: flex;
      align-items: center;
      background-color: #d7003a;
      width: 100%;
      height: 375px;
      top: 0;
      left: 0;
      z-index: 1;
      transition: transform .3s;
   }

   .p-hamburger__wrap[aria-hidden="true"] {
      transform: translateY(-375px);
   }

   .p-hamburger__ul {
      width: 1000px;
      max-width: 90%;
      margin: 0 auto;
      color: #fff;
   }

   .p-hamburger__ul li:nth-of-type(-n+3) {
      margin-bottom: 24px;
   }

   .p-hamburger__a:hover {
      text-decoration: underline;
   }

   /**
   * Footer
   */

   .p-footer__cr {
      width: 95%;
      max-width: 1000px;
      margin: 0 auto;
      text-align: center;
      color: #fff;
      font-weight: bold;
   }
   
   @media screen and (max-width: 699px) {
      .p-footer__cr {
         font-size: 14px;
      }
   }

   /**
   * Video
   */

   .p-video__inner {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 1000px;
      max-width: 90%;
      height: 100%;
      margin: 0 auto;
      z-index: 3;
   }

   .p-video__p {
      color: #fff;
      font-size: 28px;
      font-weight: bold;
      width: 100%;
      line-height: 64px;
   }

   .p-video__btn {
      position: absolute;
      top: 62.8px;
      right: 0;
      width: 70.29px;
      height: 70.29px;
      cursor: pointer;
   }
   
   .p-video__btn::before, .p-video__btn::after {
      content: '';
      display: block;
      position: absolute;
      top: 35.145px;
      width: 100%;
      height: 2px;
      background-color: #fff;
   }

   .p-video__btn::before {
      transform: rotate(45deg);
   }

   .p-video__btn::after {
      transform: rotate(-45deg);
   }

   .p-video__wrap {
      position: fixed;
      top: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      width: 100%;
      height: 100%;
   }

   .p-video__wrap::before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      background-color: rgba(0, 0, 0, .4);
      width: 100%;
      height: 100%;
   }

   .p-video__wrap > video {
      min-height: 100%;
      z-index: -1;
   }

   /*アスペクト比が16:9より横に大きいとき*/
   @media (min-aspect-ratio: 16/9) {
      .p-video__wrap > video {
         width: 100%;
      }
   }

   @media screen and (max-width: 1024px) {
      .p-video__p {
         font-size: 24px;
      }
   }

   @media screen and (max-width: 699px) {
      .p-video__p {
         font-size: 18px;
         line-height: 36px;
         text-align: justify;
      }

      .p-video__p > br {
         display: none;
      }

      .p-video__btn {
         width: 36px;
         height: 36px;
      }

      .p-video__btn::before, .p-video__btn::after {
         top: 18px;
      }
   }

   /**
   * SlideShow
   */

   .p-slide__cover {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 550px;
      width: 100%;
      background-color: rgba(0, 0, 0, .4);
   }

   .p-slide__p {
      color: #fff;
      font-size: 28px;
      font-weight: bold;
      width: 1000px;
      max-width: 90%;
      line-height: 64px;
   }

   .p-slide__ul {
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
      z-index: -1;
      overflow: hidden;
   }

   .p-slide__li {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      opacity: 1;
      transition: opacity 1s, visibility 1s;
   }

   .p-slide__li[aria-hidden="true"] {
      visibility: hidden;
      opacity: 0;
      transition: opacity 1s, visibility 1s;
   }

   .p-slide__li > img {
      min-height: 100%;
   }

   .p-slide__selector {
      text-align: center;
      margin: 40px 0 0;
      font-size: 0;
   }

   .p-slide__btn {
      background-color: #e5e5e5;
      border-radius: 50%;
      height: 20px;
      width: 20px;
      transition: background-color .3s;
   }

   .p-slide__btn:nth-child(2) {
      margin: 0 40px;
   }

   .p-slide__btn[aria-expanded="true"] {
      background-color: #d7003a;
   }
   
   /*アスペクト比が16:9より横に大きいとき*/
   @media (min-aspect-ratio: 16/9) {
      .p-slide__li > img {
         width: 100%;
      }
   }

   @media screen and (max-width: 1024px) {
      .p-slide__p {
         font-size: 24px;
      }

      .p-slide__li > img {
         max-height: 200%;
      }
   }
   
   @media screen and (max-width: 699px) {
      .p-slide__p {
         font-size: 18px;
         line-height: 36px;
         text-align: justify;
      }

      .p-slide__p > br {
         display: none;
      }
      
      .p-slide__li > img {
         height: 125%;
      }
   }
   
   /**
   * About
   */

   .p-about__p {
      width: 1000px;
      max-width: 90%;
      margin: 32px auto 0;/*XD bottom -16px*/
      text-align: justify;
      font-size: 24px;
      font-weight: bold;
      line-height: 64px;
   }
   
   @media screen and (max-width: 699px) {
      .p-about__p{
         font-size: 18px;
         line-height: 36px;
      }
   }
   
   /**
   * News
   */

   .p-news__head {
      display: flex;
      justify-content: space-between;
      width: 1000px;
      max-width: 90%;
      margin: 48px auto 0;
   }

   .p-news__caption {
      width: 480px;
      max-width: 49%;
      height: 68px;
      background-color: #d7003a;
      color: #fff;
      font-size: 24px;
      font-weight: bold;
      text-align: center;
      transition: background-color .2s;
   }

   .p-news__caption[aria-expanded="false"] {
      background-color: #e5e5e5;
   }

   .p-news__box {
      box-sizing: border-box;
      width: 1000px;
      max-width: 90%;
      background-color: #fff;
      border: 24px solid #d7003a;
      padding: 40px 32px;
      margin: 0 auto;
      display: flex;
      align-items: center;
   }

   .p-news__ul {
      width: 100%;
      margin: 0 auto;
   }

   .p-news__ul[aria-hidden="true"] {
      display: none;
   }

   .p-news__ul > li {
      display: flex;
      min-height: 48px;
      border-bottom: 1px solid #e5e5e5;
      margin-bottom: 24px;
   }

   .p-news__ul > li:last-child {
      margin-bottom: 0;
   }

   .p-news__date {
      margin-right: 24px;
      line-height: 24px;
   }
   
   @media screen and (max-width: 699px) {
      .p-news__caption {
         font-size: 16px;
         height: 56px;
      }

      .p-news__box {
         border: 16px solid #d7003a;
         padding: 32px 24px;
      }

      .p-news__ul {
         font-size: 14px;
      }

      .p-news__ul > li {
         min-height: 40px;
      }
   }
   
   /**
   * Faq
   */

   .p-faq__ul {
      margin: 48px auto 0;
      width: 1000px;
      max-width: 90%;
   }

   .p-faq__li {
      margin-top: 24px;
   }
   
   .p-faq__question, .p-faq__answer {
      display: flex;
      align-items: center;
      box-sizing: border-box;
      border: 1px solid #d7003a;
      color: #d7003a;
      width: 100%;
      height: 88px;
      padding: 0 40px 0 32px;
      transition: all .2s;
      overflow: hidden;
   }

   .p-faq__answer {
      border-top: none;
      color: #333;
   }

   .p-faq__question[aria-expanded="true"] {
      background-color: #d7003a;
      color: #fff;
   }

   .p-faq__answer[aria-hidden="true"] {
      height: 0;
      margin-top: -1px;
   }

   .p-faq__icon {
      flex-shrink: 0;
      width: 44px;
      height: 44px;
      border: 1px solid #d7003a;
      border-radius: 50%;
      font-size: 24px;
      line-height: 44px;
      text-align: center;
      color: #d7003a;
   }

   .p-faq__question[aria-expanded="true"] > .p-faq__icon {
      background-color: #fff;
   }

   .p-faq__answer > .p-faq__icon {
      background-color: #d7003a;
      color: #fff;
   }

   .p-faq__question > p,
   .p-faq__answer > p {
      margin-left: 32px;
   }

   .p-faq__btn {
      flex-shrink: 0;
      position: relative;
      margin: 0 0 0 auto;
      width: 29.07px;
      height: 29.07px;
      cursor: pointer;
   }

   .p-faq__btn::before {
      position: absolute;
      top: calc(50% - 1px);
      content: '';
      width: 100%;
      height: 2px;
      background-color: #d7003a;
      transition: transform .2s;
   }

   .p-faq__btn::after {
      position: absolute;
      left: calc(50% - 1px);
      content: '';
      width: 2px;
      height: 100%;
      background-color: #d7003a;
      transition: transform .2s;
   }

   .p-faq__question[aria-expanded="true"] > .p-faq__btn::before,
   .p-faq__question[aria-expanded="true"] > .p-faq__btn::after {
      background-color: #fff;
      transform: rotate(45deg);
   }

   @media screen and (max-width: 699px) {
      .p-faq__question, .p-faq__answer {
         padding: 0 16px;
      }

      .p-faq__icon {
         font-size: 20px;
         width: 36px;
         height: 36px;
         line-height: 36px;
      }

      .p-faq__question > p,
      .p-faq__answer > p {
         margin: 0 16px;
         font-size: 14px;
      }

      .p-faq__btn {
         width: 24px;
         height: 24px;
      }
   }

   /**
   * Contact
   */
   
   .p-contact__btn {
      display: block;
      margin: 48px auto 0;
      width: 496px;
      max-width: 90%;
      height: 100px;
      background-color: #d7003a;
      color: #fff;
      font-size: 24px;
      font-weight: bold;
      text-align: center;
   }

   .p-form__wrap {
      position: absolute;
      width: 100%;
      top: 0;
      left: 0;
      background-color: rgba(0, 0, 0, .7);
      z-index: 10;
   }

   .p-form {
      position: absolute;
      bottom: 176px;
      background-color: #fff;
      border: 1px solid #707070;
      padding: 96px 0;
      width: 1000px;
      max-width: 98%;
      right: 50%;
      transform: translateX(50%);
   }

   .p-form__closebtn {
      position: absolute;
      right: 48px;
      top: 48px;
      width: 29.07px;
      height: 29.07px;
      cursor: pointer;
   }

   .p-form__closebtn::before, .p-form__closebtn::after {
      content: '';
      display: block;
      position: absolute;
      top: 14.535px;
      width: 100%;
      height: 2px;
      background-color: #333;
   }

   .p-form__closebtn::before {
      transform: rotate(45deg);
   }

   .p-form__closebtn::after {
      transform: rotate(-45deg);
   }

   .p-form__section1, .p-form__section2 {
      display: flex;
      flex-direction: column;
      justify-content: center;
   }

   .p-form > h2 {
      color: #333;
      line-height: 48px;
      margin-bottom: 48px;
   }

   .p-form__section1 > label {
      font-size: 24px;
      width: 850px;
      max-width: 90%;
      margin: 0 auto 16px;
   }

   .p-form__section1 > input, .p-form__section1 > textarea {
      box-sizing: border-box;
      width: 850px;
      max-width: 90%;
      border-radius: 0;
      border: 1px solid #e5e5e5;
      padding: 24px;
      margin: 0 auto 24px;
      font-size: 16px;
   }
   
   .p-form__section1 > input::placeholder,
   .p-form__section1 > textarea::placeholder {
      color: #e5e5e5;
      font-size: 16px;
      opacity: 1; /*Firefox用*/
   }

   .p-form__section1 > input {
      height: 70px;
   }

   .p-form__section1 > textarea {
      resize: none;
      height: 250px;
   }

   .p-form__submit1 {
      background-color: #d7003a;
      color: #fff;
      font-size: 32px;
      font-weight: bold;
      height: 95px;
      width: 850px;
      max-width: 90%;
      margin: 24px auto 0;
   }

   .p-form__submit2 {
      background-color: #d7003a;
      color: #fff;
      font-size: 32px;
      font-weight: bold;
      height: 95px;
      width: 480px;
      max-width: 90%;
      margin: 0 auto;
   }

   .p-form__section2 > p {
      font-size: 24px;
      width: 850px;
      max-width: 90%;
      margin: -24px auto 48px;
      text-align: center;
   }

   .p-form__2 {
      padding: 192px 0;
   }

   .p-form__wrap[aria-hidden="true"],
   .p-form__section1[aria-hidden="true"],
   .p-form__section2[aria-hidden="true"] {
      display: none;
   }

   @media screen and (max-width: 699px) {
      .p-contact__btn {
         font-size: 18px;
         height: 80px;
      }

      .p-form {
         padding: 64px 0;
      }

      .p-form__closebtn {
         right: 24px;
         top: 24px;
      }

      .p-form > h2 {
         font-size: 24px;
         margin-bottom: 24px;
      }
      
      .p-form__section1 > label {
         font-size: 18px;
      }

      .p-form__section1 > input, .p-form__section1 > textarea {
         padding: 16px;
      }

      .p-form__submit1, .p-form__submit2 {
         height: 70px;
         font-size: 18px;
      }

      .p-form__section2 > p {
         font-size: 18px;
         margin: 0 auto 40px;
      }
   }
